// -----------------------------------------------------------------------------
//! GENERAL
// -----------------------------------------------------------------------------

html {
	height: 100%;
	background:$color-off-white;
}

body {
	overflow-x: hidden;
	position: relative;
	min-height: 100%;
	border: 8px solid $color-off-white;
	@include respond($breakpoint-display-sm) {
		border: 16px solid $color-off-white;
	}
	@include respond($breakpoint-display-md) {
		border: 24px solid $color-off-white;		
	}
	transition: border 0.2s ease;
}

.container {
	max-width: 1432px;
	width:100%;
	margin:0 auto;
	padding:0 8px;
	@include respond($breakpoint-padding-md) {padding:0 16px;}
	@include respond($breakpoint-padding-lg) {padding:0 24px;}
}


.visuallyHidden {
  height: 1px;
  position: fixed;
  overflow: hidden;
  width: 1px;
  
}