// -----------------------------------------------------------------------------
//! SIZING
// -----------------------------------------------------------------------------

	html { 
		font-size: 16px; 
	}
	body { 
		font-size: 1em;
		font-family: $font-body;  
		color: $color-body;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	

// -----------------------------------------------------------------------------
//! HEADINGS
// -----------------------------------------------------------------------------

	@mixin heading-reset() {
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-family: inherit;
		color: inherit;
		letter-spacing: 0;
		margin: 0;
		padding: 0;
	}

	h1, h2, h3, h4, h5, h6 { 
		line-height: 1.1; 
		font-weight: 700;
		margin:1em 0;
		font-family: $font-display;
		&:first-child {
			margin-top: 0;
		}
	}
	
	h2 {
		font-size:2em;
		@include respond($breakpoint-padding-md) {
			font-size: 2.5em;
		}
		@include respond($breakpoint-padding-lg) {
			font-size:3em;
		}
	}
	
	
// -----------------------------------------------------------------------------
//! COPY
// -----------------------------------------------------------------------------
	
	p { 
		line-height: 1.5;
		margin: 1em 0; 
		font-size:1em;
		&:first-child {
			margin-top: 0;
		}
	}


	a {
		color: $color-main;
		text-decoration: none;
		transition: all 0.2s ease;
		&:hover { 
			transition: all 0.2s ease; 
		}
	}

	ul,
	ol {
		margin:1em 0;
		padding:0 0 0 1.25em;
		li {
			padding:0 0 0 0.75em;
			margin:0 0 0.5em 0;
			line-height: 1.5;
			position: relative;

		}
	}
	
// -----------------------------------------------------------------
//! Buttons
// -----------------------------------------------------------------

.btn {
	background:$color-main;
	font-weight: bold;
	margin:0;
	color:#fff;
	text-decoration: none;
	display: inline-block;
	padding:17px 24px 18px 24px;
	transition: all 0.4s ease;
	@include respond($breakpoint-padding-md) {
		font-size: 1.125em;
	}
	
	&:hover {
		background:$color-accent;
	}
}