// -----------------------------------------------------------------------------
//! Fonts
// -----------------------------------------------------------------------------

$font-body: 'Open Sans', Arial, Helvetica, Sans-serif;
$font-display: 'Rubik', Georgia, Serif;


// -----------------------------------------------------------------------------
//! Colors
// -----------------------------------------------------------------------------
$color-body: 		#2e2e2e;
$color-off-white:	#EAEAEA;

$color-main:		#22d685;
$color-accent:		#24d3d4;


// -----------------------------------------------------------------------------
//! Z-indexes
// -----------------------------------------------------------------------------

$z_index-level6: 120;
$z_index-level5: 100;
$z_index-level4: 75;
$z_index-level3: 50;
$z_index-level2: 25;
$z_index-level1: 1;
$z_index-level0: -1;

// -----------------------------------------------------------------------------
//! Breakpoints 
// -----------------------------------------------------------------------------

$breakpoint-padding-lg: 832px;
$breakpoint-padding-md: 532px;

$breakpoint-grid-full: 832px;
$breakpoint-grid-mid: 532px;

$breakpoint-display-lg: 1400px;
$breakpoint-display-md: 728px;
$breakpoint-display-sm: 480px;

$breakpoint-item-details-lg: 728px;

$breakpoint-skills: 1020px;
$breakpoint-skills-sm: 560px;

$breakpoint-about-lg: 1220px;
$breakpoint-about-md: 1020px;

$breakpoint-work-padding: 1024px;

$breakpoint-work-showcase: 1600px;

