// -----------------------------------------------------------------------------
//! Contact Stripe
// -----------------------------------------------------------------------------

#contact .container {
	padding: 16px 0;
	text-align: center;
	color:#fff;
}

#contact p {
	
}

