// -----------------------------------------------------------------------------
//! Homepage Work Grid Layout
// -----------------------------------------------------------------------------

.grid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	padding:0;
 	max-width: none;
}

.grid-item {
	display: block;
	height:200px;
	transition:all 0s ease;
	color:#fff;
	padding:16px;
	position: relative;
	background-position: center center;
	background-size:cover;
	@include respond($breakpoint-padding-md) {
		padding: 24px;
		height:300px;
	}
	@include respond($breakpoint-padding-lg) {
		padding: 32px;
		height:400px;
	}	
}

.grid-item-half {
	width: 100%;
	@include respond($breakpoint-grid-mid) {
		width:50%;
	}
}

.grid-item-primary {
	width:100%;
	@include respond($breakpoint-grid-full) {
		width:50%;
	}
}

.grid-item-third {
	width:100%;
	@include respond($breakpoint-grid-mid) {
		width:50%;
	}
	@include respond($breakpoint-grid-full) {
		width:33.3333333333333%;
	}
}


// -----------------------------------------------------------------------------
//! Work Grid Typography
// -----------------------------------------------------------------------------


.grid-item-details {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:16px;
	background:rgba(0,0,0,0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition:all 0.4s ease;
	cursor: pointer;
}

.grid-item-title {
	margin:0;
	font-size:1.5em;
	font-weight: 700;
	position: relative;
	top:-24px;
	opacity: 0;
	transition: all 0.6s ease;
	@include respond($breakpoint-item-details-lg) {
		font-size:2em;
	}
}

.grid-item-specifics {
	@include unlist;
	margin:16px 0 0 0;
	position: relative;
	top:24px;
	opacity: 0;
	transition: all 0.6s ease;
}

.grid-item-specifics li {
	margin:0;
	padding:0;
	line-height: 1.5;
	font-size:1em;
}

.no-touchevents .grid-item:hover {
	.grid-item-details {
		background: rgba(0,0,0,0.8);
	}
	.grid-item-title,
	.grid-item-specifics {
		top:0;
		opacity: 1;
	}
}