// -----------------------------------------------------------------
//! Header Section
// -----------------------------------------------------------------

.resume-header {
	background: $color-main;
	background: linear-gradient(270deg, $color-main, $color-accent, $color-main, $color-accent);
	background-size: 800% 800%;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22d685', endColorstr='#24d3d4',GradientType=1 );
	animation: heroAnimate 30s linear infinite;
	position: relative;
	color: #fff;
	text-align: center;
	padding:46px 0 80px 0;
}

.resume-header-logo {
	display: inline-block;
}

.resume-header-logo svg {
	display: block;
	width: 42px;
	height: 48px;
	overflow: visible;
	@include respond($breakpoint-padding-md) {
		width:63px;
		height:72px;	
	}
	@include respond($breakpoint-padding-lg) {
		width: 84px;
		height: 96px;	
	}
}

.resume-header-title {
	font-size: 2em;
	margin:23px 0 0 0;
	@include respond($breakpoint-padding-md) {
		font-size: 2.5em;	
	}
	@include respond($breakpoint-padding-lg) {
		font-size: 3em;	
	}
}

.resume-header-subtitle {
	font-family: $font-body;
	font-size: 1.125em;
	font-weight: 400;
	margin:16px 0 0 0;
	@include respond($breakpoint-padding-md) {
		font-size: 1.25em;	
	}
	@include respond($breakpoint-padding-lg) {
		font-size: 1.5em;	
	}	
}

// -----------------------------------------------------------------
//! Resume Intro
// -----------------------------------------------------------------

.resume-intro {
	padding:22px 0 17px 0;
	@include respond($breakpoint-padding-md) {
		padding:38px 0 17px 0;
	}
	@include respond($breakpoint-padding-lg) {
		padding:54px 0 17px 0;
	}
}

.resume-intro .container {
	max-width: 700px;
}

.resume-intro-text {
	font-size:1em;
	margin:0;
	@include respond($breakpoint-skills) {
		font-size:1.125em;
		line-height: 1.777777777;
	}
}

// -----------------------------------------------------------------
//! Resume Blocks
// -----------------------------------------------------------------

.resume-block {
	padding:16px 0 0 0;
	@include respond($breakpoint-padding-md) {
		padding:24px 0 0 0;
	}	
	@include respond($breakpoint-padding-lg) {
		padding:32px 0 0 0;
	}
		
}

.resume-block .container {
	max-width: 700px;
}

.resume-block-title {
	margin:0 0 0.5em 0;
	color: $color-body;
	font-size:1.5em;
 	@include respond($breakpoint-padding-md) {
		font-size: 2em;
	}
	&.extra-padding {
		padding-bottom:12px;
	}
}

.resume-work {
	padding:12px 0;
}

.resume-work-title {
	font-size:1em;
	margin:0 0 5px 0;
	line-height: 1.25;
	@include respond($breakpoint-padding-md) {
		font-size:1.125em;	
	}
}

.resume-work-dates {
	margin-top:0;	
}

.resume-work ul {
	margin:0;
	padding:0 0 0 1.25em;
}

.resume-work li {
	list-style: none;
	position: relative;
}

.resume-work li:before {
	content:"";
	width:24px;
	height:24px;
	background:url(../svg/check.svg) no-repeat center center;
	background-size:16px 16px;
	position: absolute;
	left:-20px;
	top:2px;
}